.body {
    padding: 10px;
    background-image: url("../../assets/images/plane_air.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: absolute;
    top: 58px;
    left: 0;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0.9;
    padding: 20px;
    border-radius: 8px;
}

.input-container {
    display: flex;
    gap: 5px;
}

.depart,
.arrive,
.date {
    flex-grow: 1;
    height: 32px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select-container{
    display : flex;
    justify-content: center;
}
.select-wrapper {
    display: flex;
    align-items: center;
}

.select-wrapper p {
    margin-right: 5px;
}

.select-wrapper select {
    width: 60px;
    height: 32px;
    margin-bottom: 12px;
}

button {
    /*width: 100%;*/
    Width: 60px;
    height: 33px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .body {
        top: 48px;
    }

    .search {
        flex-direction: column;
        gap: 10px;
        padding: 30px;
    }

    .input-container {
        gap: 5px;
    }

    .depart,
    .arrive,
    .date {
        height: 48px;
        padding: 12px;
        font-size: 20px;
    }

    .select-wrapper select {
        width: 80px;
        height: 48px;
        font-size: 20px;
    }

    button {
        height: 48px;
        font-size: 20px;
    }
}

/* CSS pour les téléphones (écrans de petite taille) */
@media (max-width: 480px) {
    .body {
        top: 48px;
    }

    .search {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .input-container {
        gap: 2px;
    }

    .depart,
    .arrive,
    .date {
        height: 28px;
        padding: 4px;
    }

    .select-wrapper select {
        width: 50px;
        height: 28px;
    }

    button {
        height: 28px;
        font-size: 14px;
    }
}

