.body {
    padding: 20px;
    background-image: url("../../assets/images/plane_air.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Adjusted to fit the entire page */
    background-position: center; /* Center the background image */
    width: 100%;
    position: absolute;
    top: 58px;
    left : 0;
    min-height: 100vh; /* Ensure the component covers at least the height of the viewport */
    background-color: #f0f0f0; /* Backup background color */
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0.9;
    padding: 20px;
    border-radius: 8px;
}

.depart,
.arrive,
.date-depart {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}