/* userDashboard.css */

/* Ajustement des styles de la carte et du conteneur */
.custom-card-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.custom-card {
    min-height: 700px;
}

/* Style pour le header du profil */
.profile-header {
    height: 200px;
    background-color: #343a40;
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-info {
    color: white;
    margin-left: 20px;
}

.logout-btn {
    width: 150px;
    margin-bottom: 20px;
}

.retour {
    margin-left: auto;
    color: white;
    cursor: pointer;
}

.retour:hover {
    text-decoration: none;
    color : #0066CC;

}
