/*.formulaire {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 20px;
  left: 50px;
  margin: 10px;
  padding: 10px;
  justify-content: center;
   align-items: center;
  background-color: azure;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}*/
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 30px;
}

.formulaire {
  width: 80%;
  max-width: 400px;
}

.formulaire form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulaire label,
.formulaire input {
  width: 100%;
  max-width: 300px;
}

.formulaire button {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

.formulaire h2{
  margin-bottom: 40px;
}

.option {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option p {
  margin-top: 10px;
}

.option a {
  color: blue;
  text-decoration: none;
}

.option a:hover {
  text-decoration: underline;
}
.option p a:hover{
  cursor: pointer;
}
.error {
  color: red;
}

/* Media queries pour la responsivité */
@media screen and (max-width: 600px) {
  .formulaire {
    width: 90%;
  }

  .formulaire label,
  .formulaire input,
  .formulaire button {
    max-width: 100%;
  }
}

